Y = total amount of change in $$, from
X 1 = number of coins and
X 2 = number of pennies, nickels, and dimes. Report the estimated parameters of the model.

100 pennies, 20 nickels, 10 dimes, or 4 quarters; each = 1 dollar.

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression 
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


df = pd.read_csv('coins.csv')
df.head()

       Name  Pennies  Nickels  Dimes  Quarters  Dollar coins
0     Jacob        2        0      1         1             0
1   Dimitri        6        3      6         1             0
2  Danielle        2        3      1         8             0
3      Sara        8        2      6        10             0
4     Conor        6        3      1         2             0

In [12]:
# adding two columns to the table
# one for the interaction term since these variables are correlated
# one for the sum of coins

df['interaction'] = df['Pennies'] * df['Nickels']* df['Dimes']
df['total'] = df['Pennies'] + df['Nickels'] + df['Dimes']
df['change'] = df['Pennies']/100 + df['Nickels']/20 + df['Dimes']/10
df.head()

,Name,Pennies,Nickels,Dimes,Quarters,Dollar coins,interaction,total,change
0,Jacob,2,0,1,1,0,0,3,0.12
1,Dimitri,6,3,6,1,0,108,15,0.81
2,Danielle,2,3,1,8,0,6,6,0.27
3,Sara,8,2,6,10,0,96,16,0.78
4,Conor,6,3,1,2,0,18,10,0.31

In [16]:

# define the multiple Linear regression model

y = df['change']
x = df[['total','interaction']]


linear_regress = LinearRegression()
linear_regress.fit(x,y)
print(linear_regress.coef_)
y_pred = linear_regress.predict(x)

[ 0.05650138 -0.00026403]